/* Error: expected "{".
 *     ,
 * 904 | >>>>>>> ff30ff6bd31f774992d45d6c7b0f8f8c7e671a2d
 *     |                                                 ^
 *     '
 *   sass/estilos.scss 904:49  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 904 \2502  >>>>>>> ff30ff6bd31f774992d45d6c7b0f8f8c7e671a2d\a     \2502                                                  ^\a     \2575 \a   sass/estilos.scss 904:49  root stylesheet';
}
