* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    width: 100%;
}

body {
    font-family: 'Open sans';
}

h1 {
    text-align: center;
    font-size: 25px;
    color: ivory;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

header {
    position: relative;
    height: auto;
    overflow: hidden;
    width: 100%;
}

ul {
    list-style: none;
}

.nav {
    display: flex;
    background-color: #282d78;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

header nav a {
    color: ivory;
    margin: 15px;
    padding: 15px 12px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

header a:hover {
    color: blueviolet;
}

.logo {
    margin: 0%;
    padding: 15px 30px;
    line-height: 90px;
}

.header-content {
    margin-top: 140px;
    padding-top: 140px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    position: relative;
    z-index: 2;
}

#hero {
    min-height: 100vh;
    position: relative;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
}

.header-content h1 {
    font-size: 20px;
    display: block;
    color: ivory;
    text-align: center;
}

.header-content h2 {
    font-size: 60px;
    display: block;
    color: ivory;
}

.header-content h3 {
    font-size: 50px;
    display: block;
    color: ivory;
}

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid hsla(0, 0%, 0%, 0.5);
    background: linear-gradient( -225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
    ;
}

a .vertical {
    position: absolute;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: ivory;
    font-weight: 300;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 10px;
    left: 50px;
    animation: fadeInBottomLeft;
    animation-duration: 4s;
}

a:hover .vertical {
    color: blueviolet;
}

#btimpul {
    display: block;
    background-color: #FFF800;
    display: block;
    font-size: 25px;
    padding: 15px 40px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 30px;
    color: rgb(14, 18, 53);
    text-decoration: none;
    text-align: center;
}

.btimpul:hover {
    color: blueviolet;
}

.titulo {
    color: ivory;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}

.contenedor {
    margin: auto;
    overflow: hidden;
    background-color: #282d78;
}

.contenedor-serv {
    margin: auto;
    overflow: hidden;
    background-color: #282d78;
}

.grid-layout {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.serv-box>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.serv-box {
    width: 200px;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
}

.serv-box p {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.serv-box p {
    text-align: center;
    color: rgb(226, 43, 134);
    font: bold;
}

.grid-layout:hover p {
    transform: scale(1);
}

.contendor-servi {
    background: rgb(224, 218, 218);
}

.btn-mkt {
    color: ivory;
}

.btn-sem {
    color: ivory;
}

.btn-dweb {
    color: ivory;
}

.btn-posi {
    color: ivory;
}

hr {
    width: 100%;
    height: 8px;
    border-radius: 15px;
    background-image: linear-gradient( -225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
}

.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port {
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.imagen-port>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: blueviolet;
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img {
    width: 50px;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

.galeria-cli {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-cli {
    width: 24%;
    margin-bottom: 20px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.imagen-cli>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.contenedor-footer {
    padding: 10px 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    background-color: #282d78;
}

.contenedor-footer .grupo-1 .footerlogo {
    text-align: center;
    margin-top: 5px;
}

.contenedor-footer .grupo-1 {
    width: 100%;
    margin: auto;
    display: grid;
    font-size: 20px;
    justify-content: center;
    color: ivory;
}

.contenedor-footer .grupo-2 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 10px 0px;
}

.contenedor-footer .grupo-2 .box h2 {
    color: ivory;
    margin-bottom: 25px;
    font-size: 30px;
}

#footer .maps {
    text-align: center;
}

.maps {
    display: block;
    margin-left: 40px;
    margin-right: 40px;
}

#footer ul li a {
    list-style-type: none;
    color: ivory;
    text-decoration: none;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
}

.contenedor-footer .grupo-2 .rrss a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: gray;
    margin-right: 30px;
    text-align: right;
}

#derechos {
    text-align: center;
}

.btn-cont {
    display: block;
    font-size: 25px;
    padding: 15px 50px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 30px;
    color: ivory;
    text-decoration: none;
}

.contenedorform {
    background-color: #282d78;
    align-content: center;
    text-align: center;
    padding: 50px;
    font-size: 30px;
    color: ivory;
}

.form {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid hsla(0, 0%, 0%, 0.5);
    background-color: linear-gradient( -225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
    ;
}

.box ul li a {
    list-style-type: none;
    color: ivory;
    text-decoration: none;
}

.contenedorportf {
    padding: 10px 0;
    margin: auto;
    overflow: hidden;
    background-color: #282d78;
    height: 100%;
}

.contenedorportf {
    width: 100%;
    padding: 10px 0;
    margin: auto;
    overflow: hidden;
    background-color: #282d78;
}

.galeria-port1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #282d78;
}

.portfolio1 {
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.portfolio1>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-port {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgb(183, 43, 226);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-port img {
    width: 50px;
}

.portfolio1:hover .hover-port {
    transform: scale(1);
}

#services {
    height: 70vh;
    padding-top: 30px;
}

#services h2 {
    padding-bottom: 30px;
}

.servi-box {
    margin: 10px 10px;
    text-align: center;
    float: left;
    width: 20%;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.servi-box img {
    width: 100%;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
}

#header-contact {
    background: rgb(224, 218, 218);
    height: 400px;
    width: 100%;
}

.contenedor1 {
    height: 650px;
    width: 100%;
    align-items: center;
}

.cont .h-1 {
    color: #282d78;
    animation: backInRight;
    animation-duration: 2s;
    font-size: 25px;
}

.cont .h-2 {
    font-size: 15px;
    color: hsla(0, 0%, 0%, 0.5);
    animation: backInUp;
    animation-duration: 2s;
}

.h-cont {
    color: hsla(286, 48%, 45%, 0.5);
}

.contentw {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    background: rgb(224, 218, 218);
    color: ivory;
    height: auto;
}

.contact-wrapper {
    box-shadow: 0 0 20px rgb(100, 70, 114);
}

.contact-wrapper>* {
    padding: 1em;
}

.contact-form {
    background: #282d78;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form button,
.contact-form form input,
.contact-form textarea {
    width: 100%;
    padding: 1em;
    border: none;
    outline: 0;
    background: none;
    color: ivory;
    border-bottom: 1px solid rgb(100, 70, 114)
}

.contact-form form button {
    display: block;
    background: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
    border: 0;
    text-transform: uppercase;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: blueviolet;
}

.contact-form form button input {
    border: none;
}

.contact-info {
    background: linear-gradient( -225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
    color: ivory;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    padding: 1em;
}


/* politicas de privacidad */

.politicas {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
}

.politicas h1 {
    color: #2d2b8b;
    font-size: 30px;
}

.politicas h2 {
    color: #2d2b8b;
    font-size: 20px;
}

.politicas {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.1rem;
    color: #2d2b8b;
    background: rgb(224, 218, 218);
}

.politicas {
    margin: 0;
    font-family: open sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2d2b8b;
    text-align: left;
    background-color: rgb(224, 218, 218);
}

*,
::after,
::before {
    box-sizing: border-box;
}


/* marketing digital */

.h-ani {
    color: blueviolet;
    font-size: 40px;
    margin-top: 20px;
    animation: bounceIn;
    animation-duration: 3s;
}

.text-mkt {
    display: flex;
    padding: 20px;
    margin: 20px;
    width: 100%;
    color: #282d78;
    text-align: center;
    overflow: hidden;
}

.textmkt {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    background: rgb(224, 218, 218);
    height: auto;
    text-align: center;
}

@media screen and (min-width: 0px) and (max-width: 700px) {
    header {
        height: 100vh;
        width: 100%;
    }
    #header-contact {
        width: 100%;
        height: 100%;
    }
    .nav-menu {
        flex-direction: column;
        align-items: flex-start;
    }
    .header-content {
        margin-top: 0;
        margin-bottom: 0;
    }
    .header-content h1 {
        font-size: 10px;
        display: flex;
        color: ivory;
        text-align: center;
    }
    .header-content h2,
    .header-content h3 {
        font-size: 30px;
        display: block;
        color: ivory;
    }
    a .vertical {
        font-weight: 300;
        writing-mode: horizontal-tb;
        transform: rotate(360deg);
        margin-top: -60px;
        animation: fadeInBottomLeft;
        animation-duration: 4s;
    }
    #btimpul {
        font-size: 15px;
        padding: 10px 30px;
        letter-spacing: 1px;
        border-radius: 20px;
    }
    .cont {
        margin-top: 15px;
        margin-bottom: 10px;
        text-align: center;
        padding: 30px 30px;
    }
    .cont h1 {
        font-size: 15px;
        justify-content: center;
    }
    .cont h2 {
        font-size: 12px;
    }
    .btn-cont {
        display: inline-block;
        font-size: 10px;
        padding: 5px 5px;
        margin: 5px 5px;
    }
    .contenedor-footer {
        padding: 10px;
    }
    .contenedor-footer .grupo-1 .footerlogo {
        text-align: center;
        margin-top: 5px;
    }
    .contenedor-footer .grupo-1 {
        font-size: 15px;
    }
    .contenedor-footer .grupo-2 {
        grid-gap: 2px;
    }
    .contenedor-footer .grupo-2 .box h2 {
        margin-bottom: 15px;
        font-size: 15px;
    }
    .box ul li a {
        display: flex;
        margin: 10px;
        font-size: 12px;
        justify-content: center;
        text-align: center;
    }
    .contenedor-footer .grupo-2 .rrss a {
        display: inline-flex;
        justify-content: right;
        width: 35px;
        height: 35px;
        color: magenta;
    }
}


/* pantallas grandes */

@media screen and (min-width: 701px) and (max-width: 1200px) {
    header {
        height: 700px;
        width: 100%;
    }
    body {
        padding: 0;
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contenedor1 {
        height: 750px;
        width: 100%;
    }
    .contact-form form {
        font-size: 12px;
    }
    .h-cont {
        font-size: 15px;
    }
    .cont {
        margin-top: 15px;
        margin-bottom: 10px;
        text-align: center;
        padding: 30px 30px;
    }
    .cont h1 {
        color: ivory;
        font-size: 15px;
        justify-content: center;
    }
    .cont h2 {
        color: ivory;
        font-size: 12px;
    }
    .btn-cont {
        font-size: 12px;
        padding: 10px 15px;
        border-radius: 20px;
    }
    .contenedorform {
        padding: 20px;
        font-size: 10px;
        color: ivory;
    }
    .maps {
        display: block;
        margin-left: 40px;
        margin-right: 40px;
    }
    #footer ul li a {
        margin-left: 40px;
        margin-right: 40px;
    }
}