/* reset */ /* variables */
/* variable calc */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* index */
html {
  width: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  position: relative;
  height: auto;
  overflow: hidden;
  width: 100%;
}
header h1 {
  text-align: center;
  font-size: 25px;
  color: ivory;
}
header h2 {
  text-align: center;
}

/* variables */
/* variables */
/* variable calc */
/* breakpoints */
/* breakpoints */
/* index.html */
/* NAV BAR INDEX */ /* breakpoints */ /* variables */
/* variable calc */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* index */
html {
  width: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  position: relative;
  height: auto;
  overflow: hidden;
  width: 100%;
}
header h1 {
  text-align: center;
  font-size: 25px;
  color: ivory;
}
header h2 {
  text-align: center;
}

/* maps para parrafos de serv-box index.html */ /* variables */
/* variable calc */
@font-face {
  font-family: tango;
  src: url(/css/tangobold.ttf);
}
body {
  font-family: "Open sans";
}
@media (min-width: 1023px) and (max-width: 1440px) {
  body {
    padding: 0;
  }
}
body hr {
  width: 100%;
  height: 8px;
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  margin: 0;
}
body ul {
  list-style: none;
}
body hr {
  margin: 0;
}
body a {
  color: #b66ad6;
  text-decoration: none;
  background-color: transparent;
}
body .navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}
body .bg-light {
  background-color: #282d78 !important;
}
body .navbar-light .navbar-nav .active > .nav-link,
body .navbar-light .navbar-nav .nav-link.active,
body .navbar-light .navbar-nav .nav-link.show,
body .navbar-light .navbar-nav .show > .nav-link {
  color: ivory;
}
body .navbar-toggler:focus,
body .navbar-toggler:hover {
  color: #b66ad6;
}
body .navbar-light .navbar-toggler {
  color: rgb(255, 255, 255);
  border-color: rgb(197, 192, 215);
}
body button.navbar-toggler.navbar-toggler-right.collapsed {
  color: antiquewhite;
}
body button {
  font-size: 1em;
  font-weight: bold;
  padding: 5px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
}

/* HEADER HTML */
@media (min-width: 767px) and (max-width: 1023px) {
  #header {
    height: 100%;
    width: 100%;
  }
}
@media (min-width: 1023px) and (max-width: 1440px) {
  #header {
    width: 100%;
  }
}

#hero {
  min-height: 100vh;
  position: relative;
}
@media (max-width: 767px) {
  #hero {
    min-height: 70vh;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  #hero {
    min-height: 70vh;
  }
}
#hero .header-content1 {
  height: 30px;
}
#hero .header-content {
  margin-top: 140px;
  padding-top: 100px;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 140px;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  #hero .header-content {
    padding-top: 0;
    margin-left: 60px;
    margin-top: 100px;
    box-sizing: border-box;
    width: auto;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  #hero .header-content {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 100px;
  }
}
#hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.9;
}
#hero h1 {
  font-size: 20px;
  display: block;
  color: #282d78;
  text-align: center;
  z-index: 2;
  -webkit-animation: fadeInBottomLeft;
  animation: fadeInBottomLeft;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}
@media (max-width: 767px) {
  #hero h1 {
    display: flex;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  #hero h1 {
    padding-left: 40px;
    display: flex;
  }
}
#hero h2 {
  font-size: 80px;
  display: block;
  color: ivory;
  text-align: center;
  text-shadow: 5px 5px 5px black;
}
@media (max-width: 767px) {
  #hero h2 {
    font-size: 40px;
    padding-top: 40px;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  #hero h2 {
    font-size: 60px;
  }
}
@media (min-width: 1023px) and (max-width: 1440px) {
  #hero h2 {
    font-size: 80px;
  }
}

.vertical {
  z-index: 2;
  background-color: antiquewhite;
  border: 5px solid transparent;
  -o-border-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%) 1;
     border-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%) 1;
  margin: 0;
}
@media (max-width: 767px) {
  .vertical {
    min-height: 70vh;
  }
}

a .vertical {
  position: relative;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #282d78;
  font-weight: 300;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding: 30px;
  z-index: 2;
  height: 100vh;
  text-align: center;
  justify-content: center;
  letter-spacing: 8px;
}
a .vertical:hover {
  color: rgb(224, 218, 218);
  text-shadow: 2px 2px 0 rgb(195, 194, 202);
  transform: scale(1.1);
  box-shadow: 13px 15px 35px rgb(14, 18, 53);
  font-family: tango;
  z-index: 2;
}
@media (max-width: 767px) {
  a .vertical {
    height: 70vh;
    width: 10%;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  a .vertical {
    height: 70vh;
  }
}

#btimpul {
  background-color: #fff800;
  display: block;
  font-size: 25px;
  padding: 15px 40px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 30px;
  color: rgb(14, 18, 53);
  text-decoration: none;
  text-align: center;
  text-shadow: 0 0 8px rgb(197, 192, 215);
}
@media (max-width: 767px) {
  #btimpul {
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    width: 250px;
    margin-left: 20px;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  #btimpul {
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 20px;
  }
}
#btimpul:hover {
  color: rgb(14, 18, 53);
  transform: scale(1.1);
  box-shadow: 13px 15px 35px rgb(14, 18, 53);
  font-family: tango;
}

/* servicios index.html */
.titulo {
  font-family: "Open sans";
  color: ivory;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
  -webkit-animation: shakeX;
          animation: shakeX;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}
@media (max-width: 767px) {
  .titulo {
    margin-bottom: 20px;
  }
}

.titulo-1 {
  color: ivory;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 20px;
}

#services1 {
  background-color: #282d78;
  padding-top: 30px;
  margin: 0;
}

#services1 .contenservice {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  #services1 .contenservice {
    flex-wrap: wrap;
    padding-top: 10px;
  }
}

#services1 .img-container {
  background-image: url("/assets/cards/marketing.jpg");
  background-size: cover;
  width: 400px;
  height: 400px;
  padding-bottom: 20px;
  border-radius: 20px 20px;
  box-shadow: 5px 5px 8px rgb(14, 18, 53);
  margin: 20px;
  opacity: 0.9;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  #services1 .img-container {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  #services1 .img-container {
    width: 300px;
    height: 300px;
    margin: 40px;
  }
}
@media (min-width: 1023px) and (max-width: 1440px) {
  #services1 .img-container {
    width: 300px;
    height: 300px;
    margin: 50px;
  }
}
@media (min-width: 1440px) and (max-width: 2800px) {
  #services1 .img-container {
    width: 400px;
    height: 400px;
    margin: 100px;
  }
}

#services1 .item {
  text-shadow: 5px 5px 8px rgb(14, 18, 53);
  width: 100%;
  padding: 0 30px;
  color: ivory;
}
@media (max-width: 767px) {
  #services1 .item {
    font-size: 20px;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  #services1 .item {
    font-size: 25px;
    padding: 0 60px;
  }
}
@media (min-width: 1023px) and (max-width: 1440px) {
  #services1 .item {
    font-size: 25px;
    padding: 0 60px;
  }
}
@media (min-width: 1440px) and (max-width: 2800px) {
  #services1 .item {
    font-size: 35px;
    padding: 0 80px;
  }
}

.contenservice .lista-container {
  text-align: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 767px) {
  .contenservice .lista-container {
    display: flex;
    padding: 20px;
    font-size: 15px;
  }
}

#services1 .lista-container ul li {
  list-style-image: url("/assets/bullet/bullet.png");
  box-shadow: 5px 5px 8px rgb(14, 18, 53);
}

li {
  margin-top: 8px;
  line-height: 1.8;
}
@media (max-width: 767px) {
  li {
    display: flex;
  }
}

/* portfolio index carousel */
.contenedor-portfolio {
  min-height: calc(100vh - 82px - 379px);
  padding: 20px 20px 20px 20px;
  background-color: rgb(224, 218, 218);
}
@media (min-width: 767px) and (max-width: 1023px) {
  .contenedor-portfolio {
    padding: 10px;
  }
}
.contenedor-portfolio h3 {
  color: #282d78;
  text-align: center;
  font-size: 30px;
}

/* NUESTROS CLIENTES INDEX.HTTML  */
.contenedor {
  margin: auto;
  overflow: hidden;
  background-color: #282d78;
}

.contenedor-cientes {
  align-items: center;
  margin: auto;
  overflow: hidden;
  background-color: #282d78;
}

.galeria-cli {
  padding-bottom: 20px;
  padding-top: 40px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.galeria-cli .imagen-cli > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

/* footer */
.h2 {
  text-align: center;
}

.contenedor-footer {
  padding: 10px 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  background-color: #282d78;
}
@media (min-width: 767px) and (max-width: 1023px) {
  .contenedor-footer {
    padding: 10px;
  }
}
.contenedor-footer .grupo-1 .footerlogo {
  text-align: center;
  margin-top: 5px;
}
@media (min-width: 767px) and (max-width: 1023px) {
  .contenedor-footer .grupo-1 .footerlogo {
    text-align: center;
    margin-top: 5px;
  }
}
.contenedor-footer .grupo-1 {
  width: 100%;
  margin: auto;
  display: grid;
  font-size: 20px;
  justify-content: center;
  color: ivory;
}
@media (min-width: 767px) and (max-width: 1023px) {
  .contenedor-footer .grupo-1 {
    font-size: 15px;
  }
}

.grupo-2 {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 10px 0px;
}
@media (max-width: 767px) {
  .grupo-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .grupo-2 {
    grid-gap: 2px;
  }
}
.grupo-2 .box h2 {
  text-align: center;
  color: ivory;
  margin-bottom: 40px;
}
@media (min-width: 767px) and (max-width: 1023px) {
  .grupo-2 .box h2 {
    margin-bottom: 15px;
    font-size: 15px;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .grupo-2 .box h2 {
    color: whitesmoke;
    justify-content: center;
  }
}
.grupo-2 .rrss a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: gray;
  margin-right: 30px;
  text-align: right;
}
@media (max-width: 767px) {
  .grupo-2 .rrss a {
    display: inline-flex;
    text-align: center;
    width: 30px;
    height: 30px;
    color: #fff800;
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .grupo-2 .rrss a {
    display: inline-flex;
    justify-content: right;
    width: 35px;
    height: 35px;
    color: magenta;
    margin-right: 15px;
    margin-left: 10px;
  }
}
.grupo-2 .box .maps {
  display: block;
  margin-left: 40px;
  margin-right: 40px;
}
@media (max-width: 767px) {
  .grupo-2 .box .maps {
    text-align: center;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .grupo-2 .box .maps {
    text-align: center;
  }
}
@media (min-width: 1023px) and (max-width: 1440px) {
  .grupo-2 .box .maps {
    text-align: center;
  }
}
@media (min-width: 1440px) and (max-width: 2800px) {
  .grupo-2 .box .maps {
    text-align: center;
  }
}

.box ul li a {
  list-style-type: none;
  color: ivory;
  text-decoration: none;
}
@media (max-width: 767px) {
  .box ul li a {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 18px;
    padding-left: 0;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .box ul li a {
    margin-left: 5px;
    display: flex;
  }
}

.box a {
  padding-left: 30px;
}

#footer ul li a {
  list-style-type: none;
  color: ivory;
  text-decoration: none;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
}
@media (min-width: 767px) and (max-width: 1023px) {
  #footer ul li a {
    font-size: 15px;
    margin-left: 25px;
    margin-right: 25px;
    width: auto;
  }
}
@media (min-width: 1023px) and (max-width: 1440px) {
  #footer ul li a {
    font-size: 15px;
    margin-left: 45px;
    margin-right: 45px;
    width: auto;
    display: flex;
    justify-content: left;
  }
}

#derechos {
  text-align: center;
}

/* servicios.html */
/* servicios.html */ /* breakpoints */ /* variables */
/* variable calc */
/* grid layout */
* {
  margin: 0;
  box-sizing: border-box;
}

.height-main {
  min-height: 100vh;
}

.contenedor-grid1 {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(5, 7, 12, 0.55), rgba(5, 7, 12, 0.55)), url(/assets/logo/leon.png);
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(224, 218, 218);
  color: #282d78;
  padding: 10px;
  margin: auto;
}

.contenedor-grid1 p {
  font-size: 15px;
  color: black;
  align-items: center;
  position: relative;
  background-color: hsla(0deg, 14%, 76%, 0.85);
  width: 100%;
  padding: 10px;
  text-align: left;
  justify-content: start;
  color: #282d78;
  border-radius: 15px;
}

.contenedor-grid1 h1 {
  font-size: 30px;
  font-family: "Open sans";
  font: 900;
  color: black;
  align-items: center;
  position: relative;
  background-color: hsla(0deg, 14%, 76%, 0.85);
  width: 100%;
  padding: 10px;
  justify-content: center;
  text-align: center;
  color: #282d78;
  border-radius: 15px;
}

.contenedor-grid {
  text-align: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.contenedor-grid1 .contenedor-grid {
  max-width: 750px;
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-gap: 30px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .contenedor-grid1 .contenedor-grid {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1440px) and (max-width: 2800px) {
  .contenedor-grid1 .contenedor-grid {
    max-width: 1200px;
    grid-template-columns: 400px 400px 400px;
  }
}

.contenedor-grid1 .contenedor-grid .grid1 {
  grid-column: 1/3;
}

.contenedor-grid1 .contenedor-grid .grid4 {
  grid-column: 1/4;
}

.contenedor-grid1 .contenedor-grid .grid5 {
  grid-column: 2/4;
}

/* portfolio.html */
/* portfolio.html */
.contenedor-portfolio1 {
  min-height: calc(100vh - 82px - 379px);
  width: 100%;
  padding: 10px 40px 40px 40px;
  background: rgb(224, 218, 218);
}
@media (min-width: 767px) and (max-width: 1023px) {
  .contenedor-portfolio1 {
    padding: 10px;
  }
}

.contenedor-port1 {
  font-family: "Open sans";
  font-size: 40px;
  margin: 0;
  background: rgb(224, 218, 218);
  color: #282d78;
  padding-top: 20px;
  padding-bottom: 20px;
}
.contenedor-port1 h3 {
  font-size: 40px;
  text-align: center;
}

.container-fluid {
  background: rgb(224, 218, 218);
  color: #282d78;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding: 0%;
}
.container-fluid .card, .container-fluid .ucard {
  border-radius: 20px;
  box-shadow: 0 0 20px #282d78;
}
.container-fluid .card-img-top, .container-fluid .ucard > img {
  border-radius: 20px 20px 0px 0px;
  box-shadow: #282d78;
}
.container-fluid .card-title, .container-fluid .ucard > h5 {
  font-weight: 700;
  font-size: 20px;
  opacity: 0.85;
}
.container-fluid .card-text, .container-fluid .ucard > p {
  font-weight: 400;
  font-size: 15px;
  opacity: 0.85;
}
.container-fluid h1 {
  font-family: "Open sans";
  font: bold;
  color: #282d78;
}
.container-fluid .col {
  padding: 0;
  flex-grow: 0;
}
.container-fluid .row {
  margin: 0px;
}

.mt-5,
.my-5 {
  margin-top: 0 !important;
  padding-bottom: 20px;
}

.row {
  margin: 0;
}

.be-h {
  color: antiquewhite;
  font-size: 20px;
}

.be-h:hover {
  color: #b66ad6;
}

.btn-primary {
  background-color: rgb(218, 71, 149);
  color: ivory;
  border-color: #282d78;
  text-shadow: 5px 5px 8px rgb(14, 18, 53);
}

.btn-2 {
  background-color: rgb(39, 39, 110);
  color: ivory;
  border-color: #282d78;
  text-shadow: 5px 5px 8px rgb(14, 18, 53);
}

.btn-3 {
  background-color: rgb(132, 34, 132);
  color: ivory;
  border-color: #282d78;
  text-shadow: 5px 5px 8px rgb(14, 18, 53);
}

.btn-4 {
  background-color: rgb(70, 48, 121);
  color: ivory;
  border-color: #282d78;
  text-shadow: 5px 5px 8px rgb(14, 18, 53);
}

.btn-5 {
  background-color: rgb(228, 224, 94);
  color: ivory;
  border-color: #282d78;
  text-shadow: 5px 5px 8px rgb(14, 18, 53);
}

.btn-6 {
  background-color: rgb(207, 55, 96);
  color: ivory;
  border-color: #282d78;
  text-shadow: 5px 5px 8px rgb(14, 18, 53);
}

/* contacto.html */
/* contacto.html */
#header-contact {
  background: rgb(224, 218, 218);
  width: 100%;
  height: 400px;
  margin: 0;
}
@media (min-width: 1440px) and (max-width: 2800px) {
  #header-contact {
    font-size: 25px;
    height: 500px;
  }
}

@media (min-width: 1023px) and (max-width: 1440px) {
  .contenedor-form {
    padding: 20px;
    font-size: 10px;
    color: ivory;
  }
}

.contenedor1 {
  height: 650px;
  width: 100%;
  align-items: center;
}
@media (min-width: 1023px) and (max-width: 1440px) {
  .contenedor1 {
    font-size: 15px;
    width: auto;
    justify-content: center;
  }
}

@media (min-width: 1023px) and (max-width: 1440px) {
  .cont {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    padding: 30px 30px;
  }
}
@media (min-width: 1440px) and (max-width: 2800px) {
  .cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
.cont .h-1 {
  padding-top: 20px;
  color: #282d78;
  -webkit-animation: backInRight;
          animation: backInRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  font-size: 25px;
}
@media (min-width: 1023px) and (max-width: 1440px) {
  .cont .h-1 {
    font-size: 25px;
    justify-content: center;
  }
}
@media (min-width: 1440px) and (max-width: 2800px) {
  .cont .h-1 {
    color: #282d78;
    -webkit-animation: backInRight;
    animation: backInRight;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    font-size: 40px;
  }
}
.cont .h-2 {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-animation: backInUp;
          animation: backInUp;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
@media (min-width: 1023px) and (max-width: 1440px) {
  .cont .h-2 {
    font-size: 25px;
  }
}
@media (min-width: 1440px) and (max-width: 2800px) {
  .cont .h-2 {
    font-size: 35px;
    color: rgba(0, 0, 0, 0.5);
    -webkit-animation: backInUp;
    animation: backInUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }
}

.h-cont {
  color: hsla(286deg, 48%, 45%, 0.5);
}
@media (min-width: 1023px) and (max-width: 1440px) {
  .h-cont {
    font-size: 15px;
  }
}

.btn-contacto {
  text-align: center;
  width: 400px;
  margin-left: 50%;
  transform: translate(-50%);
}
@media (min-width: 1023px) and (max-width: 1440px) {
  .btn-contacto {
    text-align: center;
    width: 600px;
    margin-left: 50%;
    transform: translate(-50%);
  }
}

.contentw {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  background: rgb(224, 218, 218);
  color: ivory;
  height: auto;
}

.contact-wrapper {
  box-shadow: 0 0 20px hsla(286deg, 48%, 45%, 0.5);
}
@media (min-width: 1023px) and (max-width: 1440px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}
@media (min-width: 1440px) and (max-width: 2800px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

.contact-wrapper > * {
  padding: 1em;
}

.btn-cont {
  display: block;
  font-size: 25px;
  padding: 15px 10px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 30px;
  color: ivory;
  text-decoration: none;
}
@media (max-width: 767px) {
  .btn-cont {
    display: inline-block;
    font-size: 12px;
    padding: 5px 5px;
    margin: 5px 5px;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .btn-cont {
    width: 360px;
    height: 50px;
    display: inline-block;
    font-size: 15px;
    padding: 5px 5px;
    margin: 5px 5px;
  }
}
@media (min-width: 1023px) and (max-width: 1440px) {
  .btn-cont {
    width: 360px;
    height: 50px;
    display: inline-block;
    font-size: 15px;
    padding: 5px 5px;
    margin: 0;
  }
}
@media (min-width: 1440px) and (max-width: 2800px) {
  .btn-cont {
    height: 80px;
    font-size: 25px;
    padding: 10px 10px;
    border-radius: 20px;
    padding-bottom: 30px;
  }
}

@media (min-width: 1023px) and (max-width: 1440px) {
  .contact-form form {
    font-size: 12px;
  }
}
.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form {
  background: #282d78;
}
.contact-form .btn-form {
  padding: 5px;
}

.contact-form form button,
.contact-form form input,
.contact-form textarea {
  width: 100%;
  padding: 1em;
  border: none;
  outline: 0;
  background: none;
  color: ivory;
  border-bottom: 1px solid hsla(286deg, 48%, 45%, 0.5);
}

.contact-form form button {
  display: block;
  background: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  border: 0;
  text-transform: uppercase;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: blueviolet;
}

.contact-form form button input {
  border: none;
}

.contact-info {
  background: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  color: ivory;
}
.contact-info ul {
  list-style: none;
  padding: 0;
}
.contact-info ul li {
  padding: 1em;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* marketing.html */
/* variables */
/* variable calc */
/* maps para parrafos de serv-box index.html */ /* breakpoints */
@font-face {
  font-family: biko;
  src: url(css/Biko.otf);
}
.main1 {
  overflow: hidden;
}

.h-ani {
  color: blueviolet;
  font-size: 40px;
  margin-top: 20px;
  -webkit-animation: bounceIn;
          animation: bounceIn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.textmkt {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  background: rgb(224, 218, 218);
  height: auto;
  text-align: center;
  color: #282d78;
  line-height: 40px;
}
.textmkt p {
  text-align: left;
  line-height: 40px;
}
.textmkt .text-mkt {
  display: flex;
  padding: 20px;
  width: 100%;
  color: #282d78;
  text-align: left;
  overflow: hidden;
  line-height: 40px;
}
.textmkt h1 {
  font-family: "Open sans";
  font: 900;
  color: #282d78;
}
.textmkt h2 {
  font-family: "Open sans";
  color: rgb(226, 43, 134);
}
.textmkt h3 {
  font-family: "Open sans";
  color: #282d78;
  text-align: center;
  font-size: 25px;
}
.textmkt h4 {
  color: rgb(226, 43, 134);
  font-family: "Open sans";
}
.textmkt h5 {
  color: magenta;
  font-family: "Open sans";
  font-size: 15px;
}

.cita {
  color: gray;
  font-weight: bolder;
  text-align: center;
}

/* carrusel 3d */
.textomark {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  background: rgb(224, 218, 218);
  height: auto;
  text-align: left;
  color: #282d78;
  line-height: 40px;
}
.textomark p {
  text-align: left;
  line-height: 40px;
}

.separacion {
  line-height: 40px;
}

/* content-all */
.content-all {
  width: 200px;
  margin: auto;
  perspective: 10000px;
  position: relative;
  padding-top: 60px;
  padding-bottom: 200px;
}
@media (max-width: 767px) {
  .content-all {
    margin: 0;
  }
}

/* content-carrusel */
.content-carrousel {
  width: 100%;
  margin: auto;
  position: absolute;
  -webkit-animation: rotar 40s infinite linear;
          animation: rotar 40s infinite linear;
  transform-style: preserve-3d;
  padding: 20px;
}

/* content-carrusel */
.content-carrousel > figure {
  width: 250px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0 0 20px #2d2b8b;
  border-radius: 10px;
  cursor: pointer;
}

.content-carrousel:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.content-carrousel > img {
  width: 100%;
  height: 200px;
}

.carrusel3d {
  padding-top: 40px;
  height: 300px;
  background-color: #282d78;
}

.content-all p {
  line-height: 15px;
  font-size: 12px;
  color: black;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsla(0deg, 5%, 87%, 0.85);
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
  transform: rotateY(52deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
  transform: rotateY(103deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
  transform: rotateY(154deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
  transform: rotateY(208deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
  transform: rotateY(257deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
  transform: rotateY(308deg) translateZ(300px);
}

.content-carrousel figure:nth-child(8) {
  transform: rotateY(360deg) translateZ(300px);
}

/*carrusel 2*/
.content-all1 {
  width: 200px;
  margin: auto;
  perspective: 10000px;
  position: relative;
  padding-top: 60px;
  padding-bottom: 200px;
}
@media (max-width: 767px) {
  .content-all1 {
    margin: 0;
  }
}

/* content-carrusel */
.content-carrousel1 {
  width: 100%;
  margin: auto;
  position: absolute;
  -webkit-animation: rotar 40s infinite linear;
          animation: rotar 40s infinite linear;
  transform-style: preserve-3d;
  padding: 20px;
}

/* content-carrusel */
.content-carrousel1 > figure {
  width: 250px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0 0 20px #2d2b8b;
  border-radius: 10px;
  cursor: pointer;
}

.content-carrousel1:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.content-carrousel1 > img {
  width: 100%;
  height: 200px;
}

.content-carrousel1 figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel1 figure:nth-child(2) {
  transform: rotateY(52deg) translateZ(300px);
}

.content-carrousel1 figure:nth-child(3) {
  transform: rotateY(103deg) translateZ(300px);
}

.content-carrousel1 figure:nth-child(4) {
  transform: rotateY(154deg) translateZ(300px);
}

.content-carrousel1 figure:nth-child(5) {
  transform: rotateY(208deg) translateZ(300px);
}

.content-carrousel1 figure:nth-child(6) {
  transform: rotateY(257deg) translateZ(300px);
}

.content-carrousel1 figure:nth-child(7) {
  transform: rotateY(308deg) translateZ(300px);
}

.content-carrousel1 figure:nth-child(8) {
  transform: rotateY(360deg) translateZ(300px);
}

@-webkit-keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.carrusel3d {
  padding-top: 40px;
  height: 400px;
  background-color: rgb(224, 218, 218);
}

.content-all1 p {
  line-height: 15px;
  font-size: 12px;
  color: black;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsla(0deg, 5%, 87%, 0.85);
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.estrategias1 {
  color: #282d78;
}

strong {
  color: #282d78;
  font: 900;
  font-family: tango;
  text-transform: uppercase;
}

.contenedor3d:hover {
  transform: scale(1.1);
  overflow: hidden;
}

.carrusel3d:hover {
  transform: scale(1.1);
  overflow: hidden;
}
@media (max-width: 767px) {
  .carrusel3d:hover {
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  section.carrusel3d {
    overflow: hidden;
  }
}

/* acordeon desplegable */
#body1 {
  margin: 0 auto;
  background: rgb(224, 218, 218);
  display: block;
  overflow: hidden;
  justify-content: center;
}
@media (min-width: 1440px) and (max-width: 2800px) {
  #body1 {
    height: 70vh;
  }
}

div.contenedor-ventajas {
  justify-content: center;
  align-items: center;
  display: grid;
  min-height: 100%;
}

div.subapartado {
  margin: auto;
  width: 400px;
  min-height: 50px;
  background-color: #282d78;
}
@media (max-width: 767px) {
  div.subapartado {
    width: 300px;
  }
}
@media (min-width: 1440px) and (max-width: 2800px) {
  div.subapartado {
    width: 700px;
  }
}

div.subapartado:hover div.info1 {
  height: 310px;
}

div.titulo-ventajas {
  margin: auto;
  width: 400px;
  height: 50px;
  background-color: #282d78;
  border: 5px solid transparent;
  -o-border-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%) 1;
     border-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%) 1;
  overflow: hidden;
}
@media (max-width: 767px) {
  div.titulo-ventajas {
    width: 300px;
  }
}
@media (min-width: 1440px) and (max-width: 2800px) {
  div.titulo-ventajas {
    width: 700px;
  }
}

p.titulo-ventajas {
  text-align: center;
  margin: 10px;
  color: ivory;
}

div.info1 {
  width: 400px;
  height: 0px;
  background-color: #282d78;
  overflow: hidden;
  transition: height 0.2s;
}
@media (max-width: 767px) {
  div.info1 {
    width: 300px;
  }
}
@media (min-width: 1440px) and (max-width: 2800px) {
  div.info1 {
    width: 700px;
  }
}

p.info1 {
  color: ivory;
  padding: 10px;
  margin: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
}

div.contenedor-mkt {
  margin: 20px;
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #282d78;
}
div.contenedor-mkt h2 {
  font-size: 35px;
}
div.contenedor-mkt p {
  text-align: center;
}
@media (max-width: 767px) {
  div.contenedor-mkt {
    display: block;
  }
}

/* marketing digital */
/* card horizontal hover */
#body3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(224, 218, 218);
  height: 100vh;
}
@media (max-width: 767px) {
  #body3 {
    display: flex;
    padding-bottom: 700px;
    padding-top: 150px;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  #body3 {
    margin-top: 100px;
    display: block;
    margin-left: 50px;
    height: 70vh;
  }
}
@media (min-width: 1023px) and (max-width: 1440px) {
  #body3 {
    margin-top: 100px;
    display: block;
    margin-left: 150px;
    height: 80vh;
  }
}
@media (min-width: 1440px) and (max-width: 2800px) {
  #body3 {
    margin-top: 100px;
    display: block;
    margin-left: 300px;
    height: 80vh;
  }
}

.card-h {
  color: ivory;
  position: relative;
  width: 500px;
  height: 500px;
}
@media (max-width: 767px) {
  .card-h {
    width: 250px;
    height: 250px;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .card-h {
    width: 400px;
    height: 400px;
  }
}
@media (min-width: 1023px) and (max-width: 1440px) {
  .card-h {
    width: 400px;
    height: 400px;
  }
}

.card-h .card-landing {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 10px black;
  background: linear-gradient(-180deg, transparent 80%, #231557), var(--i);
  background-position: cover;
  background-size: cover;
  z-index: 100;
}

.card-h .card-landing a {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 25px;
  color: ivory;
}
@media (max-width: 767px) {
  .card-h .card-landing a {
    color: #282d78;
  }
}

.card-h .card-info {
  position: absolute;
  width: 90%;
  height: 95%;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto;
  padding: 15px;
  background: #282d78;
  z-index: 90;
  transition: 0.5s;
}
@media (max-width: 767px) {
  .card-h .card-info {
    position: relative;
    width: 100%;
    height: 450px;
  }
}

.card-h:hover .card-info {
  left: 100%;
}
@media (max-width: 767px) {
  .card-h:hover .card-info {
    left: 0;
  }
}

.card-info .head-mkt {
  padding: 5px 0;
  border: 5px solid transparent;
  -o-border-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%) 1;
     border-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%) 1;
}
@media (max-width: 767px) {
  .card-info .head-mkt {
    padding: 0;
    border: 2px solid transparent;
    -o-border-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%) 1;
       border-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%) 1;
  }
}

.card-info .head-mkt .mkt-titulo {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: ivory;
  padding: 10px;
}
@media (max-width: 767px) {
  .card-info .head-mkt .mkt-titulo {
    padding: 0;
    font-size: 15px;
  }
}

.card-info .head-mkt .description {
  display: flex;
  gap: 10px;
}

.card-info .description .mkt-item p {
  padding-top: 10px;
  display: flex;
  font-size: 15px;
  line-height: normal;
}

.card-info .description .mkt-item i {
  font-size: 25px;
  color: rgb(226, 43, 134);
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .card-info .description .mkt-item i {
    font-size: 15px;
  }
}

/* politicas.html */
/* politicas de privacidad */
.politicas {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2d2b8b;
  text-align: left;
  background-color: rgb(224, 218, 218);
  padding-bottom: 40px;
}
.politicas p {
  margin-right: 50px;
  margin-left: 50px;
}
.politicas h1 {
  color: #2d2b8b;
  font-size: 30px;
  margin-top: 30px;
}
.politicas h2 {
  color: #2d2b8b;
  font-size: 20px;
}

/* cards extend */
.ucard {
  background-color: rgb(224, 218, 218);
  width: 300px;
}
/* map */
/* maps para parrafos de serv-box index.html */
/* mixins marketing.html *//*# sourceMappingURL=estilos.css.map */