/* variables */

$font: "Open sans";
$color1: ivory;
$color2: rgba(255, 255, 255, 0.5);
$color3: #282d78;
$color3-1: #2d2b8b;
$color4: #b66ad6;
$color5: rgb(255, 255, 255);
$color8: antiquewhite;
$color9: blueviolet;
$color10: rgb(197, 192, 215);
$color11: #fff800;
$color12: rgb(224, 218, 218);
$color13: rgb(226, 43, 134);
$color14: gray;
$color15: rgb(14, 18, 53);
$color16: #1c1c1d;
$color17: magenta;
$color18: whitesmoke;
$color19: #5258b6;
$color20: hsla(286, 48%, 45%, 0.5);
$shadow: rgba(0, 0, 0, 0.5);
$botones: linear-gradient(
  -225deg,
  #231557 0%,
  #44107a 29%,
  #ff1361 67%,
  #fff800 100%
);

/* variable calc */

$min-height: calc(100vh - 82px - 379px);