/* contacto.html */

#header-contact {
    background: $color12;
    width: 100%;
    height: 400px;
    margin: 0;
  }
  .contenedor-form {
    @include media(md) {
      padding: 20px;
      font-size: 10px;
      color: $color1;
    }
  }
  .contenedor1 {
    height: 650px;
    width: 100%;
    align-items: center;
  
    @include media(md) {
      font-size: 15px;
      width: auto;
      justify-content: center;
    }
  }
  .cont {
    @include media(md) {
      margin-top: 15px;
      margin-bottom: 10px;
      text-align: center;
      padding: 30px 30px;
    }
    @include media(lg) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-top: 20px;
    }
  
    .h-1 {
      padding-top: 20px;
      color: $color3;
      animation: backInRight;
      animation-duration: 2s;
      font-size: 25px;
  
      @include media(md) {
        font-size: 25px;
        justify-content: center;
      }
      @include media(lg) {
        color: $color3;
        -webkit-animation: backInRight;
        animation: backInRight;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        font-size: 35px;
      }
    }
  
    .h-2 {
      font-size: 15px;
      color: $shadow;
      animation: backInUp;
      animation-duration: 2s;
  
      @include media(md) {
        font-size: 15px;
      }
    }
    @include media(lg) {
      font-size: 25px;
      color: $shadow;
      -webkit-animation: backInUp;
      animation: backInUp;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
    }
  }
  
  .h-cont {
    color: $color20;
    @include media(md) {
      font-size: 15px;
    }
  }
  .btn-contacto {
    text-align: center;
    width: 400px;
    margin-left: 50%;
    transform: translate(-50%);
  
    @include media(md) {
      text-align: center;
      width: 600px;
      margin-left: 50%;
      transform: translate(-50%);
    }
    @include media(ld) {
      text-align: center;
      width: 800px;
      margin-left: 50%;
      transform: translate(-50%);
    }
  }
  .contentw {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    background: $color12;
    color: $color1;
    height: auto;
  }
  
  .contact-wrapper {
    box-shadow: 0 0 20px $color20;
    @include media(md) {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
    @include media(lg) {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
  }
  
  .contact-wrapper > * {
    padding: 1em;
  }
  
  .btn-cont {
    display: block;
    font-size: 25px;
    padding: 15px 10px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 30px;
    color: $color1;
    text-decoration: none;
  
    @include media(xs) {
      display: inline-block;
      font-size: 12px;
      padding: 5px 5px;
      margin: 5px 5px;
    }
    @include media(sm) {
      width: 360px;
      height: 50px;
      display: inline-block;
      font-size: 15px;
      padding: 5px 5px;
      margin: 5px 5px;
    }
    @include media(md) {
      width: 360px;
      height: 50px;
      display: inline-block;
      font-size: 15px;
      padding: 5px 5px;
      margin: 0;
    }
    @include media(lg) {
      width: 500px;
      height: 80px;
      font-size: 25px;
      padding: 10px 10px;
      border-radius: 20px;
    }
  }
  .contact-form form {
    @include media(md) {
      font-size: 12px;
    }
    p {
      margin: 0;
      padding: 1em;
    }
  }
  .contact-form {
    background: $color3;
    .btn-form {
      padding: 5px;
    }
  }
  
  .contact-form form button,
  .contact-form form input,
  .contact-form textarea {
    width: 100%;
    padding: 1em;
    border: none;
    outline: 0;
    background: none;
    color: $color1;
    border-bottom: 1px solid $color20;
  }
  
  .contact-form form button {
    display: block;
    background: $botones;
    border: 0;
    text-transform: uppercase;
  }
  
  .contact-form form button:hover,
  .contact-form form button:focus {
    background: $color9;
  }
  
  .contact-form form button input {
    border: none;
  }
  
  .contact-info {
    background: $botones;
    color: $color1;
    ul {
      list-style: none;
      padding: 0;
    }
    ul li {
      padding: 1em;
    }
  }
  
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  