/* NAV BAR INDEX */
@import "../bases/breakpoints";
@import "../bases/reset";
@import "../bases/maps";

@font-face {
  font-family: tango;
  src: url(/css/tangobold.ttf);
}
body {
  font-family: $font;
  @include media(md) {
    padding: 0;
  }
  hr {
    width: 100%;
    height: 8px;
    background-image: $botones;
    margin: 0;
  }
  ul {
    list-style: none;
  }
  hr {
    margin: 0;
  }
  a {
    color: $color4;
    text-decoration: none;
    background-color: transparent;
  }
  .navbar-light .navbar-nav .nav-link {
    color: $color2;
  }
  .bg-light {
    background-color: $color3 !important;
  }
  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show > .nav-link {
    color: $color1;
  }
  .navbar-toggler:focus,
  .navbar-toggler:hover {
    color: $color4;
  }
  .navbar-light .navbar-toggler {
    color: $color5;
    border-color: $color10;
  }
  button.navbar-toggler.navbar-toggler-right.collapsed {
    color: $color8;
  }
  button {
    font-size: 1em;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid $shadow;
    background: $botones;
  }
}

/* HEADER HTML */
#header {
  @include media(sm) {
    height: 100%;
    width: 100%;
  }
  @include media(md) {
    width: 100%;
  }
}
#hero {
  min-height: 100vh;
  position: relative;
  @include media(xs){
    min-height: 70vh;
  }
  @include media(sm){
    min-height: 70vh;
  }

  .header-content1 {
    height: 30px;
  }
  .header-content {
    margin-top: 140px;
    padding-top: 100px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 140px;
    position: relative;
    z-index: 2;
    @include media(xs){
      padding-top: 0;
      margin-left: 60px;
      margin-top: 100px;
      box-sizing: border-box;
      width: auto;
    }
    @include media(sm) {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 100px;

    }
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color16;
    opacity: 0.5;
    mix-blend-mode: overlay;
  }
  h1 {
    font-size: 20px;
    display: block;
    color: $color3;
    text-align: center;
    z-index: 2;
    -webkit-animation: fadeInBottomLeft;
    animation: fadeInBottomLeft;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    @include media(xs) {
      display: flex;
    }
    @include media(sm) {
      padding-left: 40px;
      display: flex;
    }
  }
  h2 {
    font-size: 80px;
    display: block;
    color: $color1;
    text-align: center;
    text-shadow: 5px 5px 5px black;
    @include media(xs) {
      font-size: 40px;
      padding-top: 40px;
    }
    @include media(sm) {
      font-size: 60px;
    }
    @include media(md){
      font-size: 80px;
    }
  }

}
.vertical {
  z-index: 2;
  background-color: $color8;
  border: 5px solid transparent;
  border-image: $botones 1;

  margin: 0;
  @include media(xs){
    min-height: 70vh;
  }
}
  a .vertical {
    position: relative;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $color3;
    font-weight: 300;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 30px;
    z-index: 2;
    height: 100vh;
    text-align: center;
    justify-content: center;
    letter-spacing: 8px;
    &:hover {
      color: $color12;
      text-shadow: 2px 2px 0 black;
      transform: scale(1.1);
      box-shadow: 13px 15px 35px $color15;
      font-family: tango;
      z-index: 2;
    }
    @include media(xs){
      height: 70vh;
      width: 10%;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
    @include media(sm){
      height: 70vh;
    }
  }


#btimpul {
  background-color: $color11;
  display: block;
  font-size: 25px;
  padding: 15px 40px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 30px;
  color: $color15;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 0 8px $color10;
  @include media(xs) {
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    width: 250px;
    margin-left: 20px;

  }
  @include media(sm) {
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 20px;
  }

  &:hover {
    color: $color15;
    transform: scale(1.1);
    box-shadow: 13px 15px 35px $color15;
    font-family: tango;
  }
}
/* servicios index.html */

.titulo {
  color: $color1;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.titulo-1 {
  color: $color1;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 20px;
}

#services1 {
  height: 70vh;
  padding-top: 30px;
  @include media(xs) {
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  @include media(sm) {
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.contenedor {
  margin: auto;
  overflow: hidden;
  background-color: $color3;
}

.contenedor-serv {
  align-items: center;
  margin: auto;
  overflow: hidden;
  background-color: $color3;
}

.display-serv {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.display-serv:hover p {
  transform: scale(1);
}

.serv-box {
  align-items: center;
  width: 200px;
  margin-bottom: 10px;
  height: 200px;
  position: relative;
  cursor: pointer;
  text-align: center;
  flex-wrap: wrap;
  &.serv-box:hover {
    transform: scale(1.1);
    box-shadow: 13px 15px 35px $color15;
  }
  p {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $color13;
    font: bold;
  }
  .p-1 {
    color: map-get($map: $colores, $key: "primero");
    font-family: tango;
    font-size: 20px;
    text-shadow: 2px 2px 0 $color21;
    text-align: center;
  }
  .p-2 {
      color: map-get($map: $colores, $key: "segundo");
      font-family: tango;
      font-size: 20px;
      text-shadow: 2px 2px 0 $color21;
      text-align: center;
    }
    .p-3 {
      color: map-get($map: $colores, $key: "tercero");
      font-family: tango;
      font-size: 20px;
      text-shadow: 2px 2px 0 $color21;
      text-align: center;
    }
    .p-4 {
      color: map-get($map: $colores, $key: "cuarto");
      font-family: tango;
      font-size: 20px;
      text-shadow: 2px 2px 0 $color21;
      text-align: center;
    }
}

.serv-box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  padding-bottom: 20px;
  border-radius: 20px 20px;
  box-shadow: 0 0 5px $color15;
  padding: 0;
}

.contendor-servi {
  background: $color12;
}

/* portfolio index carousel */

.contenedor-portfolio {
  min-height: $min-height;
  padding: 20px 20px 20px 20px;
  background-color: $color12;
  @include media(sm) {
    padding: 10px;
  }
  h3 {
    color: $color3;
    text-align: center;
    font-size: 30px;
  }
}

/* NUESTROS CLIENTES INDEX.HTTML  */

.contenedor-cientes {
  align-items: center;
  margin: auto;
  overflow: hidden;
  background-color: $color3;
}

.galeria-cli {
  padding-bottom: 20px;
  padding-top: 40px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  .imagen-cli > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

/* footer */

.h2 {
  text-align: center;
}

.contenedor-footer {
  padding: 10px 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  background-color: $color3;
  @include media(sm) {
    padding: 10px;
  }
  .grupo-1 .footerlogo {
    text-align: center;
    margin-top: 5px;
    @include media(sm) {
      text-align: center;
      margin-top: 5px;
    }
  }
  .grupo-1 {
    width: 100%;
    margin: auto;
    display: grid;
    font-size: 20px;
    justify-content: center;
    color: $color1;
    @include media(sm) {
      font-size: 15px;
    }
  }
}

.grupo-2 {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 10px 0px;
  @include media(xs) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include media(sm) {
    grid-gap: 2px;
  }
  .box h2 {
    text-align: center;
    color: $color1;
    margin-bottom: 40px;
    @include media(sm) {
      margin-bottom: 15px;
      font-size: 15px;
    }
    @include media(sm) {
      color: $color18;
      justify-content: center;
    }
  }
  .rrss a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: $color14;
    margin-right: 30px;
    text-align: right;
    @include media(xs) {
      display: inline-flex;
      text-align: center;
      width: 30px;
      height: 30px;
      color: $color11;
      margin-left: 30px;
      margin-right: 30px;
    }
    @include media(sm) {
      display: inline-flex;
      justify-content: right;
      width: 35px;
      height: 35px;
      color: $color17;
      margin-right: 15px;
      margin-left: 10px;
    }
  }
  .box .maps {
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    @include media(xs) {
      text-align: center;
    }
    @include media(sm) {
      text-align: center;
    }
    @include media(md) {
      text-align: center;
    }
    @include media(lg) {
      text-align: center;
    }
  }
}

.box ul li a {
  list-style-type: none;
  color: $color1;
  text-decoration: none;
  @include media(xs) {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 18px;
    padding-left: 0;
  }
  @include media(sm) {
    margin-left: 5px;
    display: flex;
  }
}

.box a {
  padding-left: 30px;
}

#footer ul li a {
  list-style-type: none;
  color: $color1;
  text-decoration: none;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
  @include media(sm) {
    font-size: 15px;
    margin-left: 25px;
    margin-right: 25px;
    width: auto;
  }
  @include media(md) {
    font-size: 15px;
    margin-left: 45px;
    margin-right: 45px;
    width: auto;
    display: flex;
    justify-content: left;
  }
}

#derechos {
  text-align: center;
}
