/* politicas de privacidad */

.politicas {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $color3-1;
    text-align: left;
    background-color: $color12;
    padding-bottom: 40px;
    p {
      margin-right: 50px;
      margin-left: 50px;
    }
    h1 {
      color: $color3-1;
      font-size: 30px;
      margin-top: 30px;
    }
    h2 {
      color: $color3-1;
      font-size: 20px;
    }
  }
  
  