/* servicios.html */

@import "../bases/breakpoints";
@import "../bases/variables";
/* grid layout */
* {
  margin: 0;
  box-sizing: border-box;
}
.height-main {
  min-height: 100vh;
}
.contenedor-grid1 {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(5, 7, 12, 0.55), rgba(5, 7, 12, 0.55)),
    url(/assets/logo/leon.png);
  background-attachment: fixed;
  background-size: cover;
  background-color: $color12;
  color: $color3;
  padding: 10px;
  margin: auto;
}
.contenedor-grid1 p {
  font-size: 15px;
  color: $color21;
  align-items: center;
  position: relative;
  background-color: hsla(0, 14%, 76%, 0.85);
  width: 100%;
  padding: 10px;
  text-align: left;
  justify-content: start;
  color: $color3;
  border-radius: 15px;
}

.contenedor-grid1 h1 {
  font-size: 30px;
  font-family: $font;
  font: 900;
  color: $color21;
  align-items: center;
  position: relative;
  background-color: hsla(0, 14%, 76%, 0.85);
  width: 100%;
  padding: 10px;
  justify-content: center;
  text-align: center;
  color: $color3;
  border-radius: 15px;
}
.contenedor-grid{
  text-align: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}
.contenedor-grid1 .contenedor-grid{
  max-width: 750px;
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-gap: 30px;
  justify-content: center;
  align-items: center;
  @include media(xs){
    display: flex;
  flex-wrap: wrap;
  }
  @include media(lg){
    max-width: 1200px;
    grid-template-columns: 400px 400px 400px;
  }
}


.contenedor-grid1 .contenedor-grid .grid1{
grid-column: 1/3;
}


.contenedor-grid1 .contenedor-grid .grid4{
grid-column: 1/4;
}

.contenedor-grid1 .contenedor-grid .grid5{
grid-column: 2/4;
}


