/* servicios.html */

@import "../bases/breakpoints";
@import "../bases/variables";
/* grid layout */
* {
  margin: 0;
  box-sizing: border-box;
}
.height-main {
  min-height: 100vh;
}
.contenedor-grid1 {
  min-height: 100vh;
  background-image: linear-gradient(rgba(5, 7, 12, 0.55), rgba(5, 7, 12, 0.55)),
    url(/assets/logo/leon.png);
  background-attachment: fixed;
  background-size: cover;
  background-color: $color12;
  color: $color3;
  padding: 20px;
}
.contenedor-grid {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr, 1fr;
  grid-template-areas:
    "grid5 grid2 grid3"
    "grid5 grid4 grid1";
    grid-auto-flow: row dense;
  @include media(xs) {
    height: 2500px;
    display: flex;
    flex-wrap: wrap;
  }
  @include media(sm) {
    display: flex;
    flex-wrap: wrap;
    height: 2200px;
  }
  @include media(md) {
    height: 1200px;
  }
  @include media(lg) {
    height: 1200px;
  }
}
.contenedor-grid > div {
  display: grid;
  place-items: center;
  border: 5px solid ivory;
  @include media(sm) {
    display: flex;
    flex-wrap: wrap;
    height: 420px;
  }
  
}
.grid1 {
  grid-area: grid1;
  @include media(sm) {
    height: 825px;
  }
  @include media(lg) {
    height: 760px;
  }
}
.grid2 {
  grid-area: grid2;
  @include media(sm) {
    height: 550px;
  }
}
.grid3 {
  grid-area: grid3;
  @include media(sm) {
    height: 570px;
  }
}
.grid4 {
  grid-area: grid4;
  @include media(sm) {
    height: 400px;
  }
  @include media(md) {
    height: 350px;
  }
  @include media(lg) {
    height: 500px;
  }
}
.grid5 {
  grid-area: grid5;
  @include media(md) {
    display: contents;
  }
  @include media(sm) {
    height: 800px;
  }
  @include media(md) {
    height: 500px;
  }
  @include media(lg) {
    height: 400px;
  }
  @include media(xlg) {
    height: 400px;
  }
}

.contenedor-grid1 h1 {
  font-size: 30px;
  font-family: tango;
  color: $color21;
  align-items: center;
  position: relative;
  background-color: hsla(0, 14%, 76%, 0.85);
  width: 100%;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  text-align: center;
  color: $color3;
  border-radius: 15px;
}
.contenedor-grid1 p {
  font-size: 15px;
  color: $color21;
  align-items: center;
  position: relative;
  background-color: hsla(0, 14%, 76%, 0.85);
  width: 100%;
  padding: 10px;
  margin: 10px;
  text-align: left;
  justify-content: start;
  color: $color3;
  border-radius: 15px;
  @include media(sm) {
    font-size: 20px;
  }
  @include media(md) {
    font-size: 15px;
  }
  @include media(lg) {
    font-size: 20px;
  }
}





